name: Deploy to Cloud Run

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Authenticate to GCP
      uses: google-github-actions/auth@v1
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Set up gcloud CLI
      uses: google-github-actions/setup-gcloud@v2
      with:
        project_id: numeric-skill-379315
        
    - name: Build and push Docker image
      run: |
        IMAGE=us-west1-docker.pkg.dev/numeric-skill-379315/cloud-run-source-deploy/chihealthmedisecure:${GITHUB_SHA}
        docker build -t $IMAGE .
        docker push $IMAGE

    - name: Deploy to Cloud Run
      run: |
        gcloud run deploy chihealthmedisecure \
          --image=us-west1-docker.pkg.dev/numeric-skill-379315/cloud-run-source-deploy/chihealthmedisecure:${GITHUB_SHA} \
          --region=us-west1 \
          --platform=managed \
          --allow-unauthenticated
